:root {
  --color-bg-main: hsl(var(--h), 80%, 98%);
  --color-bg-sub: hsla(var(--h), 80%, 70%, 0.168);
  --color-t-main: hsl(var(--h), 20%, 20%);
  --color-bg-main-reverse: hsl(var(--h), 80%, 30%);
  --color-bg-sub-reverse: hsla(var(--h), 80%, 30%, 0.467);
  --color-t-main-reverse: hsl(0, 0%, 100%);

  &[theme='pink'] {
    --h: 325;
  }

  &[theme='red'] {
    --h: 0;
  }

  &[theme='yellow'] {
    --h: 50;
  }

  &[theme='green'] {
    --h: 120;
  }

  &[theme='blue'] {
    --h: 210;
  }

  --color-green: rgb(133.4, 206.2, 97.4);
  --color-orange: rgb(235, 180.6, 99);
  --color-red: rgb(247, 137.4, 137.4);
  --color-blue: rgb(102.2, 177.4, 255);
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

.katex-html {
  display: none;
}
